*{
    margin: 0;
    padding: 0;
}


.card img{
    position: relative;
    height: 90%;
    width: 100%;
}

.card{
    margin-left: 40%;
    margin-top: 10%;
    border: 2px solid blue;
    height: 300px;
    width: 300px;

}